<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All issue</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<div class="issues" th:each="issue : ${issues}" >
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${issue.title}">Title</h5>
            <p class="card-text" th:text="${issue.description}">Description</p>
            <p th:text="${issue.averageEstimation} != 0 ? ${issue.averageEstimation} : ''">Average estimation</p>
    </div>
</div>
</body>
</html>